.usersContainer{
    display: flex;
}
.sidebar{
    width: 30%;
}
.usersCards{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.usersCards nav{
    margin-top: 10px;
    align-self: center;
}

