.usersContainer{
    display: flex;
}
.sidebar{
    width: 30%;
}
.usersCards{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.paginationContainer{

}
.paginationContainerSelectedItem{
font-weight: bold;
}
.paginationContainerItem{

}
.pagination{
    display: flex;
}
.pagination li{
    list-style-type: none;
}

