.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: ghostwhite;
    padding: 20px;
    width: 300px;
}
.data{
    margin: 5px;
}

.title{
    color: #006d77;
    font-size: 36px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.error{
    color: red;
    margin: 10px 5px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}
