.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  background-color: #BC9CB0;
  grid-template-areas:
  'header header '
  'nav content '
  'footer footer ';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.footer{
  grid-area: footer;
}

.input{
  background-color: transparent;
  width: 90%;
  height:80px;
  padding: 0 15px;
  border: 2px solid #D3CDD7;
  border-radius: 5px;
}

.button{
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #BC9CB0;
  border: 1px solid #553A4B;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
}


