
.app-wrapper {
  display: grid;
  /*width: 1200px;*/
  margin: 0 auto;
  background-color: #BC9CB0;
  grid-template-areas:
  'header header '
  'nav content '
  'footer footer ';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.footer{
  grid-area: footer;
}

.inputTextArea{
  background-color: transparent;
  width: auto;
  height:80px;
  border: 2px solid #D3CDD7;
  border-radius: 5px;
  margin: 1em;
  column-count: auto;
  resize: none;
  outline: none;

}


.button{
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #BC9CB0;
  border: 1px solid #553A4B;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
}
.button:hover{
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #553A4B;
  border: 1px solid #553A4B;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
}
.content{
  grid-area: content;
  background-color: #DDF2EB;
  min-height: 700px;
  border-radius: 5px;
  margin-right: 10px;
}

